@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/_resets" as *;

.nav {
  background-color: $white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(33, 33, 34, 0.25);
    opacity: 0;
    transform: translateY(-30px);
    animation: slide-down-navbar 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
      forwards;
    transition-delay: 0s;
    transition: opacity 0.8s, transform 0.8s, border-color 0.8s;

    @include media-desktop {
      justify-content: flex-end;
    }
  }
  &.nav-animate #logo,
  &.nav-animate .nav__button {
    animation: slide-down-elements 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
      forwards;
  }
  &__logo {
    opacity: 0;
    transform: translateY(-30px);
    animation-delay: 0.2s; 
  }
  &__button {
    background: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;

    &__text {
      @include fontRegular;
      font-size: 0.9375rem;
      font-weight: 300;
      color: $light-black;
      letter-spacing: 0.05rem;
    }
  }

  &--open {
    background-color: $white;
  }

  &__logo--down {
    transform: translateY(30px);
  }
}

@keyframes slide-down-navbar {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo {
  @include fontHeadings;
  font-size: 1.375rem;
  line-height: 1;
  color: $light-black;
  transition: transform 0.3s ease;
}

@keyframes slide-down-elements {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include media-desktop {
  #logo {
    display: none;
  }
}
